# **Homework**: Data talks club data engineering zoomcamp Data loading workshop

Hello folks, let's practice what we learned - Loading data with the best practices of data engineering.

Here are the exercises we will do

# 1. Use a generator

Remember the concept of generator? Let's practice using them to futher our understanding of how they work.

Let's define a generator and then run it as practice.

**Answer the following questions:**

- **Question 1: What is the sum of the outputs of the generator for limit = 5?**
- **Question 2: What is the 13th number yielded**

I suggest practicing these questions without GPT as the purpose is to further your learning.

In [7]:
def square_root_generator(limit):
    n = 1
    while n <= limit:
        yield n ** 0.5
        n += 1

# Example usage:
limit = 5
generator = square_root_generator(limit)
for sqrt_value in generator:
    print(sqrt_value)

1.0
1.4142135623730951
1.7320508075688772
2.0
2.23606797749979

In [8]:
def square_root_generator(limit):
    n = 1
    while n <= limit:
        yield n ** 0.5
        n += 1

# Example usage:
limit = 5
generator = square_root_generator(limit)
sum=0
for sqrt_value in generator:
    print(sqrt_value)
    sum+=sqrt_value
print(sum)

1.0
1.4142135623730951
1.7320508075688772
2.0
2.23606797749979
8.382332347441762

Solution: 8.382

In [11]:
def square_root_generator(limit):
    n = 1
    while n <= limit:
        yield n ** 0.5
        n += 1

# Example usage:
limit = 13
generator = square_root_generator(limit)

for sqrt_value in generator:
    print(sqrt_value)

1.0
1.4142135623730951
1.7320508075688772
2.0
2.23606797749979
2.449489742783178
2.6457513110645907
2.8284271247461903
3.0
3.1622776601683795
3.3166247903554
3.4641016151377544
3.605551275463989

Solution: 3.605

# 2. Append a generator to a table with existing data


Below you have 2 generators. You will be tasked to load them to duckdb and answer some questions from the data

1. Load the first generator and calculate the sum of ages of all people. Make sure to only load it once.
2. Append the second generator to the same table as the first.
3. **After correctly appending the data, calculate the sum of all ages of people.**

In [2]:
def people_1():
    for i in range(1, 6):
        yield {"ID": i, "Name": f"Person_{i}", "Age": 25 + i, "City": "City_A"}

for person in people_1():
    print(person)


def people_2():
    for i in range(3, 9):
        yield {"ID": i, "Name": f"Person_{i}", "Age": 30 + i, "City": "City_B", "Occupation": f"Job_{i}"}


for person in people_2():
    print(person)

{'ID': 1, 'Name': 'Person_1', 'Age': 26, 'City': 'City_A'}
{'ID': 2, 'Name': 'Person_2', 'Age': 27, 'City': 'City_A'}
{'ID': 3, 'Name': 'Person_3', 'Age': 28, 'City': 'City_A'}
{'ID': 4, 'Name': 'Person_4', 'Age': 29, 'City': 'City_A'}
{'ID': 5, 'Name': 'Person_5', 'Age': 30, 'City': 'City_A'}
{'ID': 3, 'Name': 'Person_3', 'Age': 33, 'City': 'City_B', 'Occupation': 'Job_3'}
{'ID': 4, 'Name': 'Person_4', 'Age': 34, 'City': 'City_B', 'Occupation': 'Job_4'}
{'ID': 5, 'Name': 'Person_5', 'Age': 35, 'City': 'City_B', 'Occupation': 'Job_5'}
{'ID': 6, 'Name': 'Person_6', 'Age': 36, 'City': 'City_B', 'Occupation': 'Job_6'}
{'ID': 7, 'Name': 'Person_7', 'Age': 37, 'City': 'City_B', 'Occupation': 'Job_7'}
{'ID': 8, 'Name': 'Person_8', 'Age': 38, 'City': 'City_B', 'Occupation': 'Job_8'}

# 3. Merge a generator

Re-use the generators from Exercise 2.

A table's primary key needs to be created from the start, so load your data to a new table with primary key ID.

Load your first generator first, and then load the second one with merge. Since they have overlapping IDs, some of the records from the first load should be replaced by the ones from the second load.

After loading, you should have a total of 8 records, and ID 3 should have age 33.

Question: **Calculate the sum of ages of all the people loaded as described above.**

# Solution: First make sure that the following modules are installed:

In [18]:
#Install the dependencies
#%%capture
!pip install dlt[duckdb]
!pip install numpy
!pip install pandas

Requirement already satisfied: dlt[duckdb] in c:\users\diego\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (0.4.4)
Requirement already satisfied: PyYAML>=5.4.1 in c:\users\diego\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from dlt[duckdb]) (6.0.1)
Requirement already satisfied: SQLAlchemy>=1.4.0 in c:\users\diego\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from dlt[duckdb]) (2.0.27)
Requirement already satisfied: astunparse>=1.6.3 in c:\users\diego\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from dlt[duckdb]) (1.6.3)
Requirement already satisfied: click>=7.1 in c:\users\diego\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from dlt[duckdb]) (8.1.7)
Requirement already satisfied: duckdb<0.10.0,>=0.6.1 in c:\users\diego\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from dlt[duckdb]) (0.9.2)
Requirement already satisfied: fsspec>=2022.4.0 in c:\users\diego\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from dlt[duckdb]) (2024.2.0)
Requirement already satisfied: gitpython>=3.1.29 in c:\users\diego\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from dlt[duckdb]) (3.1.42)
Requirement already satisfied: giturlparse>=0.10.0 in c:\users\diego\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from dlt[duckdb]) (0.12.0)
Requirement already satisfied: hexbytes>=0.2.2 in c:\users\diego\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from dlt[duckdb]) (1.0.0)
Requirement already satisfied: humanize>=4.4.0 in c:\users\diego\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from dlt[duckdb]) (4.9.0)
Requirement already satisfied: jsonpath-ng>=1.5.3 in c:\users\diego\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from dlt[duckdb]) (1.6.1)
Requirement already satisfied: makefun>=1.15.0 in c:\users\diego\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from dlt[duckdb]) (1.15.2)
Requirement already satisfied: orjson<=3.9.10,>=3.6.7 in c:\users\diego\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from dlt[duckdb]) (3.9.10)
Requirement already satisfied: packaging>=21.1 in c:\users\diego\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from dlt[duckdb]) (23.2)
Requirement already satisfied: pathvalidate>=2.5.2 in c:\users\diego\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from dlt[duckdb]) (3.2.0)
Requirement already satisfied: pendulum>=2.1.2 in c:\users\diego\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from dlt[duckdb]) (3.0.0)
Requirement already satisfied: pytz>=2022.6 in c:\users\diego\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from dlt[duckdb]) (2024.1)
Requirement already satisfied: requests>=2.26.0 in c:\users\diego\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from dlt[duckdb]) (2.31.0)
Requirement already satisfied: requirements-parser>=0.5.0 in c:\users\diego\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from dlt[duckdb]) (0.5.0)
Requirement already satisfied: semver>=2.13.0 in c:\users\diego\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from dlt[duckdb]) (3.0.2)
Requirement already satisfied: setuptools>=65.6.0 in c:\users\diego\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from dlt[duckdb]) (68.2.2)
Requirement already satisfied: simplejson>=3.17.5 in c:\users\diego\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from dlt[duckdb]) (3.19.2)
Requirement already satisfied: tenacity>=8.0.2 in c:\users\diego\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from dlt[duckdb]) (8.2.3)
Requirement already satisfied: tomlkit>=0.11.3 in c:\users\diego\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from dlt[duckdb]) (0.12.1)
Requirement already satisfied: typing-extensions>=4.0.0 in c:\users\diego\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from dlt[duckdb]) (4.9.0)
Requirement already satisfied: tzdata>=2022.1 in c:\users\diego\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from dlt[duckdb]) (2024.1)
Requirement already satisfied: win-precise-time>=1.4.2 in c:\users\diego\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from dlt[duckdb]) (1.4.2)
Requirement already satisfied: wheel<1.0,>=0.23.0 in c:\users\diego\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from astunparse>=1.6.3->dlt[duckdb]) (0.42.0)
Requirement already satisfied: six<2.0,>=1.6.1 in c:\users\diego\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from astunparse>=1.6.3->dlt[duckdb]) (1.16.0)
Requirement already satisfied: colorama in c:\users\diego\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from click>=7.1->dlt[duckdb]) (0.4.6)
Requirement already satisfied: gitdb<5,>=4.0.1 in c:\users\diego\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from gitpython>=3.1.29->dlt[duckdb]) (4.0.11)
Requirement already satisfied: ply in c:\users\diego\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from jsonpath-ng>=1.5.3->dlt[duckdb]) (3.11)
Requirement already satisfied: python-dateutil>=2.6 in c:\users\diego\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pendulum>=2.1.2->dlt[duckdb]) (2.8.2)
Requirement already satisfied: time-machine>=2.6.0 in c:\users\diego\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pendulum>=2.1.2->dlt[duckdb]) (2.13.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\diego\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from requests>=2.26.0->dlt[duckdb]) (3.3.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\diego\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from requests>=2.26.0->dlt[duckdb]) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\diego\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from requests>=2.26.0->dlt[duckdb]) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\diego\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from requests>=2.26.0->dlt[duckdb]) (2023.7.22)
Requirement already satisfied: types-setuptools>=57.0.0 in c:\users\diego\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from requirements-parser>=0.5.0->dlt[duckdb]) (69.1.0.20240217)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\diego\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from SQLAlchemy>=1.4.0->dlt[duckdb]) (3.0.3)
Requirement already satisfied: smmap<6,>=3.0.1 in c:\users\diego\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from gitdb<5,>=4.0.1->gitpython>=3.1.29->dlt[duckdb]) (5.0.1)

[notice] A new release of pip is available: 23.3.1 -> 24.0
[notice] To update, run: C:\Users\diego\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

Requirement already satisfied: numpy in c:\users\diego\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (1.26.4)

[notice] A new release of pip is available: 23.3.1 -> 24.0
[notice] To update, run: C:\Users\diego\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

Collecting pandas

[notice] A new release of pip is available: 23.3.1 -> 24.0
[notice] To update, run: C:\Users\diego\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

  Downloading pandas-2.2.0-cp311-cp311-win_amd64.whl.metadata (19 kB)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\diego\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\diego\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\diego\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\diego\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\diego\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.2.0-cp311-cp311-win_amd64.whl (11.6 MB)
   ---------------------------------------- 0.0/11.6 MB ? eta -:--:--
   ---------------------------------------- 0.0/11.6 MB ? eta -:--:--
   ---------------------------------------- 0.0/11.6 MB 330.3 kB/s eta 0:00:35
   ---------------------------------------- 0.0/11.6 MB 330.3 kB/s eta 0:00:35
   ---------------------------------------- 0.0/11.6 MB 330.3 kB/s eta 0:00:35
   ---------------------------------------- 0.1/11.6 MB 328.6 kB/s eta 0:00:36
   ---------------------------------------- 0.1/11.6 MB 437.6 kB/s eta 0:00:27
   ---------------------------------------- 0.1/11.6 MB 437.6 kB/s eta 0:00:27
    --------------------------------------- 0.2/11.6 MB 437.1 kB/s eta 0:00:27
    --------------------------------------- 0.2/11.6 MB 600.7 kB/s eta 0:00:19
    --------------------------------------- 0.3/11.6 MB 681.0 kB/s eta 0:00:17
   - -------------------------------------- 0.3/11.6 MB 700.2 kB/s eta 0:00:17
   - -------------------------------------- 0.4/11.6 MB 835.1 kB/s eta 0:00:14
   - -------------------------------------- 0.6/11.6 MB 965.7 kB/s eta 0:00:12
   -- ------------------------------------- 0.6/11.6 MB 941.6 kB/s eta 0:00:12
   -- ------------------------------------- 0.7/11.6 MB 1.1 MB/s eta 0:00:10
   --- ------------------------------------ 1.1/11.6 MB 1.5 MB/s eta 0:00:07
   --- ------------------------------------ 1.1/11.6 MB 1.5 MB/s eta 0:00:07
   --- ------------------------------------ 1.1/11.6 MB 1.5 MB/s eta 0:00:07
   ---- ----------------------------------- 1.4/11.6 MB 1.7 MB/s eta 0:00:07
   ------ --------------------------------- 1.8/11.6 MB 2.0 MB/s eta 0:00:06
   ------ --------------------------------- 2.0/11.6 MB 2.1 MB/s eta 0:00:05
   ------- -------------------------------- 2.2/11.6 MB 2.2 MB/s eta 0:00:05
   -------- ------------------------------- 2.5/11.6 MB 2.4 MB/s eta 0:00:04
   --------- ------------------------------ 2.8/11.6 MB 2.6 MB/s eta 0:00:04
   ---------- ----------------------------- 3.0/11.6 MB 2.7 MB/s eta 0:00:04
   ----------- ---------------------------- 3.4/11.6 MB 2.9 MB/s eta 0:00:03
   ------------- -------------------------- 3.8/11.6 MB 3.1 MB/s eta 0:00:03
   -------------- ------------------------- 4.3/11.6 MB 3.4 MB/s eta 0:00:03
   ---------------- ----------------------- 4.7/11.6 MB 3.6 MB/s eta 0:00:02
   ----------------- ---------------------- 5.0/11.6 MB 3.7 MB/s eta 0:00:02
   ------------------ --------------------- 5.4/11.6 MB 3.9 MB/s eta 0:00:02
   -------------------- ------------------- 5.8/11.6 MB 4.0 MB/s eta 0:00:02
   -------------------- ------------------- 5.9/11.6 MB 4.0 MB/s eta 0:00:02
   -------------------- ------------------- 5.9/11.6 MB 4.0 MB/s eta 0:00:02
   -------------------- ------------------- 5.9/11.6 MB 4.0 MB/s eta 0:00:02
   -------------------- ------------------- 5.9/11.6 MB 4.0 MB/s eta 0:00:02
   -------------------- ------------------- 5.9/11.6 MB 4.0 MB/s eta 0:00:02
   -------------------- ------------------- 5.9/11.6 MB 4.0 MB/s eta 0:00:02
   -------------------- ------------------- 5.9/11.6 MB 4.0 MB/s eta 0:00:02
   -------------------- ------------------- 5.9/11.6 MB 4.0 MB/s eta 0:00:02
   ---------------------------- ----------- 8.4/11.6 MB 4.5 MB/s eta 0:00:01
   ---------------------------- ----------- 8.4/11.6 MB 4.5 MB/s eta 0:00:01
   ---------------------------- ----------- 8.4/11.6 MB 4.4 MB/s eta 0:00:01
   ---------------------------- ----------- 8.4/11.6 MB 4.4 MB/s eta 0:00:01
   ----------------------------- ---------- 8.5/11.6 MB 4.2 MB/s eta 0:00:01
   ----------------------------- ---------- 8.6/11.6 MB 4.1 MB/s eta 0:00:01
   ------------------------------- -------- 9.0/11.6 MB 4.2 MB/s eta 0:00:01
   ------------------------------- -------- 9.2/11.6 MB 4.2 MB/s eta 0:00:01
   --------------------------------- ------ 9.6/11.6 MB 4.2 MB/s eta 0:00:01
   ---------------------------------- ----- 9.9/11.6 MB 4.3 MB/s eta 0:00:01
   ----------------------------------- ---- 10.3/11.6 MB 4.9 MB/s eta 0:00:01
   ------------------------------------ --- 10.7/11.6 MB 5.5 MB/s eta 0:00:01
   -------------------------------------- - 11.0/11.6 MB 5.8 MB/s eta 0:00:01
   ---------------------------------------  11.4/11.6 MB 6.1 MB/s eta 0:00:01
   ---------------------------------------  11.6/11.6 MB 6.1 MB/s eta 0:00:01
   ---------------------------------------- 11.6/11.6 MB 5.9 MB/s eta 0:00:00
Installing collected packages: pandas
Successfully installed pandas-2.2.0

In [19]:
# to do: homework :) 2.

import dlt
import duckdb

# define the connection to load to in duckdb.
generators_pipeline = dlt.pipeline(destination='duckdb', dataset_name='homework')

# we can load the first generator to a table at the pipeline destnation as follows:
info = generators_pipeline.run(people_1(),
										table_name="people",
										write_disposition="replace")

# the outcome metadata is returned by the load and we can inspect it by printing it.
print(info)

#obtain the value of the sum of the people age's
conn = duckdb.connect(f"{generators_pipeline.pipeline_name}.duckdb")

# let's see the tables
conn.sql(f"SET search_path = '{generators_pipeline.dataset_name}'")
print('Loaded tables: ')
display(conn.sql("show tables"))

# and the data

print("\n\n\n people table below:")

people = conn.sql("SELECT * FROM people").df()
display(people)

print("\n\n\n sum people age's table below:")

sum_age = conn.sql("SELECT sum(Age) FROM people").df()
display(sum_age)

Pipeline dlt_ipykernel_launcher load step completed in 0.16 seconds
1 load package(s) were loaded to destination duckdb and into dataset homework
The duckdb destination used duckdb:///c:\repo\personal\data-engineering-zoomcamp\workshops\dlt_resources\dlt_ipykernel_launcher.duckdb location to store data
Load package 1708297947.7167392 is LOADED and contains no failed jobs
Loaded tables:

┌─────────────────────┐
│        name         │
│       varchar       │
├─────────────────────┤
│ _dlt_loads          │
│ _dlt_pipeline_state │
│ _dlt_version        │
│ people              │
│ people_1            │
│ people_2            │
└─────────────────────┘

 people table below:

   id      name  age    city        _dlt_load_id         _dlt_id
0   1  Person_1   26  City_A  1708297947.7167392  ko9PbGh1BPQp3Q
1   2  Person_2   27  City_A  1708297947.7167392  ozICRFqOzz/o9w
2   3  Person_3   28  City_A  1708297947.7167392  nasdDBej4/pV4w
3   4  Person_4   29  City_A  1708297947.7167392  wBNXebx+q/4m7A
4   5  Person_5   30  City_A  1708297947.7167392  YtgF6cTV3kDaAA

 sum people age's table below:

   sum(Age)
0     140.0

In [20]:
# we can load the next generator to the same or to a different table.
info = generators_pipeline.run(people_2(),
										table_name="people",
										write_disposition="append")

print(info)

#obtain the value of the sum of the people age's
conn = duckdb.connect(f"{generators_pipeline.pipeline_name}.duckdb")

# let's see the tables
conn.sql(f"SET search_path = '{generators_pipeline.dataset_name}'")
print('Loaded tables: ')
display(conn.sql("show tables"))

# and the data

print("\n\n\n people table below:")

people = conn.sql("SELECT * FROM people").df()
display(people)

print("\n\n\n sum people age's table below:")

sum_age = conn.sql("SELECT sum(Age) FROM people").df()
display(sum_age)

Pipeline dlt_ipykernel_launcher load step completed in 0.25 seconds
1 load package(s) were loaded to destination duckdb and into dataset homework
The duckdb destination used duckdb:///c:\repo\personal\data-engineering-zoomcamp\workshops\dlt_resources\dlt_ipykernel_launcher.duckdb location to store data
Load package 1708298852.1559072 is LOADED and contains no failed jobs
Loaded tables:

┌─────────────────────┐
│        name         │
│       varchar       │
├─────────────────────┤
│ _dlt_loads          │
│ _dlt_pipeline_state │
│ _dlt_version        │
│ people              │
│ people_1            │
│ people_2            │
└─────────────────────┘

 people table below:

    id      name  age    city        _dlt_load_id         _dlt_id occupation
0    1  Person_1   26  City_A  1708297947.7167392  ko9PbGh1BPQp3Q       None
1    2  Person_2   27  City_A  1708297947.7167392  ozICRFqOzz/o9w       None
2    3  Person_3   28  City_A  1708297947.7167392  nasdDBej4/pV4w       None
3    4  Person_4   29  City_A  1708297947.7167392  wBNXebx+q/4m7A       None
4    5  Person_5   30  City_A  1708297947.7167392  YtgF6cTV3kDaAA       None
5    3  Person_3   33  City_B  1708298852.1559072  oZ312Mh6WfWNSg      Job_3
6    4  Person_4   34  City_B  1708298852.1559072  RdTjEpOXEpbP7w      Job_4
7    5  Person_5   35  City_B  1708298852.1559072  9x86m2fGIkl2+w      Job_5
8    6  Person_6   36  City_B  1708298852.1559072  zjPLJJ7hp17igw      Job_6
9    7  Person_7   37  City_B  1708298852.1559072  g9jRQm+dn0miug      Job_7
10   8  Person_8   38  City_B  1708298852.1559072  LZMAsGHRS1OS+Q      Job_8

 sum people age's table below:

   sum(Age)
0     353.0

In [5]:
import dlt
import duckdb

# define the connection to load to in duckdb.
merge_pipeline = dlt.pipeline(destination='duckdb', dataset_name='homework')

# we can load the first generator to a table at the pipeline destnation as follows:
info = merge_pipeline.run(people_1(),
										table_name="peoples",
										write_disposition="replace", 
					primary_key="ID")

# the outcome metadata is returned by the load and we can inspect it by printing it.
print(info)

# define the connection to load to. 
# run the pipeline with default settings, and capture the outcome
info = merge_pipeline.run(people_2(), 
					table_name="peoples", 
					write_disposition="merge", 
					primary_key="ID")

# show the outcome
print(info)

#obtain the value of the sum of the people age's
conn = duckdb.connect(f"{merge_pipeline.pipeline_name}.duckdb")

# let's see the tables
conn.sql(f"SET search_path = '{merge_pipeline.dataset_name}'")
print('Loaded tables: ')
display(conn.sql("show tables"))

# and the data

print("\n\n\n peoples table below:")

people = conn.sql("SELECT * FROM peoples").df()
display(people)

print("\n\n\n sum people age's table below:")

sum_age = conn.sql("SELECT sum(Age) FROM peoples").df()
display(sum_age)

Pipeline dlt_ipykernel_launcher load step completed in 0.22 seconds
1 load package(s) were loaded to destination duckdb and into dataset homework
The duckdb destination used duckdb:///c:\repo\personal\data-engineering-zoomcamp\workshops\dlt_resources\dlt_ipykernel_launcher.duckdb location to store data
Load package 1708299589.9691439 is LOADED and contains no failed jobs
Pipeline dlt_ipykernel_launcher load step completed in 0.50 seconds
1 load package(s) were loaded to destination duckdb and into dataset homework
The duckdb destination used duckdb:///c:\repo\personal\data-engineering-zoomcamp\workshops\dlt_resources\dlt_ipykernel_launcher.duckdb location to store data
Load package 1708299590.5910609 is LOADED and contains no failed jobs
Loaded tables:

┌─────────────────────┐
│        name         │
│       varchar       │
├─────────────────────┤
│ _dlt_loads          │
│ _dlt_pipeline_state │
│ _dlt_version        │
│ peoples             │
└─────────────────────┘

 peoples table below:

   id      name  age    city        _dlt_load_id         _dlt_id occupation
0   1  Person_1   26  City_A  1708299589.9691439  wvPq1Kh1m4+KCg       None
1   2  Person_2   27  City_A  1708299589.9691439  FGBs9IzWOrfC6Q       None
2   7  Person_7   37  City_B  1708299590.5910609  QE6sExlFJE/uwQ      Job_7
3   8  Person_8   38  City_B  1708299590.5910609  6ks7DrmmN8NpYw      Job_8
4   3  Person_3   33  City_B  1708299590.5910609  qjNLUOa1mseuJA      Job_3
5   6  Person_6   36  City_B  1708299590.5910609  dpDFSk41ZO0olg      Job_6
6   5  Person_5   35  City_B  1708299590.5910609  UYYO7fK+krkgGw      Job_5
7   4  Person_4   34  City_B  1708299590.5910609  RCN2gJ53GtDXIA      Job_4

 sum people age's table below:

   sum(Age)
0     266.0

Questions? difficulties? We are here to help.
- DTC data engineering course channel: https://datatalks-club.slack.com/archives/C01FABYF2RG
- dlt's DTC cohort channel: https://dlthub-community.slack.com/archives/C06GAEX2VNX